/*The css for the banner*/
.banner{
  height: 600px;
  background-blend-mode: color;
}
.banner-container{
  display: flex;
  justify-content: center;
  background-color: black;
}
img {
  border: none;
  margin: 0;
  padding: 0;
}
.title-container{
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 100px;
}
.title-container h1{
  color: black;
  font-size: 40px;
}
/*The css for the infinate scroll*/
.wrapper{
  margin-top: 70px;
  margin-bottom: 70px;
  position: relative;
  width: 90%;
  height: 100px;
  margin-inline: auto;
  overflow: hidden;
  mask-image: linear-gradient(to right, 
  rgba(0, 0, 0, 0),
  rgba(0, 0, 0, 1) 20%,
  rgba(0, 0, 0, 1) 80%,
  rgba(0, 0, 0, 0));
}
.brand{
  position: absolute;
  max-width: 200px;
  height: 100px;
  border-radius: 5px;
  left: max(calc(200px * 7), 130%);
  animation: infinite scrollLeft 30s linear;
  
}
@keyframes scrollLeft{
  to{
    left: -200px;
  }
}
.brand1{
  animation-delay: calc(30s / 7 * (7 - 0) * -1 );
}
.brand2{
  animation-delay: calc(30s / 7 * (7 - 1) * -1);
}
.brand3{
  animation-delay: calc(30s / 7 * (7 - 2) * -1);
}
.brand4{
  animation-delay: calc(30s / 7 * (7 - 3) * -1);
}
.brand5{
  animation-delay: calc(30s / 7 * (7 - 4.2) * -1);
}
.brand6{
  animation-delay: calc(30s / 7 * (7 - 5.2) * -1);
}
.brand7{
  animation-delay: calc(30s / 7 * (7 - 6) * -1);
}
.category-title{
  display: flex;
  justify-content: center;
}
.category-title h1{
  font-size: 40px;
}
/*this causes the animation
 to stop when hovered
.wrapper:hover .brand{
  animation-play-state: paused!important;
}
  */
/*The css for the categories*/
.category-container{
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}
.category{
  display: block;
}
.category img{
  display: block;
  height: 300px;
}
.category a{
  color: black;
  font-family: Arial;
  font-size: 30px;
  justify-content: center;
}
.link-container{
  display: flex;
  justify-content: center;
}
#category-woman{
  margin-right: 100px;
}
#category-man{
  margin-left: 100px;
}
.link-container a:hover{
  text-decoration: underline;
}
/*  Popular   */
.product-image img{
height: 250px;
}
.products-container{
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 100px;
  /*overflow: scroll; if we want scroll*/
}
.popular-container h1{
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 100px;
}
.product-brand, .product-name, .product-subdis, .product-price{
  display: flex;
  justify-content: center;
}
.popular-container .div3376{
  display: flex;
  justify-content: center;

  flex: 1;
}
.product{
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
}
.category-image img{
  height: 400px;
}
.category-image{
  width: 300px;
  overflow: hidden;
}
/*styles for the popular section discription*/
.product-brand{
  font-size: 20px;
  font-weight: 100;
  color: #6a6a6a;
}
.product-name{
  font-size: 30px;
  font-weight: bold;
  color: #252525;
}
.product-subdis{
  margin-top: 5px;
  color: #313131;
}
.product-price{
  font-size: 20px;
  margin-top: 25px;
  font-weight: bold;
  color: #252525;
}
.product::after, .product::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  bottom: 50%;
  translate: 0% -50%;
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 0;
  border-radius: 10px;
  transition: opacity, 0.30s;
}
.go-button{
  position: absolute;
  top: 45%;
  left: 36%;
  font-family: roboto, arial;
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  z-index: 2000;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 0;
  transition: opacity, 0.30s;
  
}

.shell:hover{
  cursor: pointer;
  .product::after, .product::before{
    opacity: 1;
  }
  .go-button{
    opacity: 1;
  }
}
.header-all-perfumes{
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
/*  The filters  */
.filters{
  width: 400px;
  display: flexbox;

  background-color: #252525;
}
.filter-title{
  color: white;
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.filter-title-container{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
#perfume-gender{
  margin-left: 30px;
  margin-top: 20px;
  font-size: 25px;
}
.lable-radio{
  color: white;
  display: inline-flex;
  transition: 0.15s;
}
.radio{

  accent-color: white;
}
input[type = "radio"]{
  transform: scale(1.5);
  margin-right: 10px;
}
.lable-radio:hover, .radio:hover{
  cursor: pointer;
  color: rgb(191, 191, 191);

}
.lable-radio input[type = "radio"]:checked + span{
  text-decoration: underline;
}
/* Styles for the price input container */
.price-input-container {
  width: 100%;
}

.price-input .price-field {
  display: flex;
  margin-bottom: 22px;
}
.price-field{
  display: flex;
  justify-content: space-between;
}

.price-field span {
  margin-right: 10px;
  margin-top: 6px;
  font-size: 20px;
}

.price-field input {
  width: 50px;
  height: 35px;
  font-size: 15px;
  font-family: "DM Sans", sans-serif;
  border-radius: 9px;
  text-align: center;
  border: 0px;
  background: #e4e4e4;
}

.price-input {
  width: 100%;
  font-size: 19px;
  color: #ffffff;
}

/* Remove Arrows/Spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.slider-container {
  width: 100%;
}

.slider-container {
  height: 6px;
  position: relative;
  background: #e4e4e4;
  border-radius: 5px;
}

.slider-container .price-slider {
  height: 100%;
  left: 5%;
  right: 70%;
  position: absolute;
  border-radius: 5px;
  background: #df04c6;
}

.range-input {
  position: relative;
}

.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  background: none;
  top: -5px;
  pointer-events: none;
  cursor: pointer;
  -webkit-appearance: none;
}

/* Styles for the range thumb in WebKit browsers */
input[type="range"]::-webkit-slider-thumb {
  height: 18px;
  width: 18px;
  border-radius: 70%;
  background: #aaaaaa;
  pointer-events: auto;
  -webkit-appearance: none;
}

@media screen and (max-width: 768px) {
  .main {
      width: 80%;
      margin-right: 5px;
  }

  .custom-wrapper {
      width: 100%;
      left: 0;
      padding: 0 10px;
  }

  .projtitle {
      width: 100%;
      position: relative;
      right: 26px;
  }

  .price-input {
      flex-direction: column;
      align-items: center;
  }

  .price-field {
      margin-bottom: 10px;
  }
}
#perfume-price-filter{
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  padding-bottom: 30px;
}
#perfume-gender{
  margin-bottom: 50px;
}
.price-header{
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.filters{
  position: sticky;
  left: 0px;
  top: 0px;
  height: 100dvh;
}
.products{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr ;
  
}
.product-show{
  /* background-color: #6a6a6a; */
  width: 250px;
  height: 400px;
  margin: 20px;
}
.product-container-all-perfumes{
  display: flex;
  align-items: start;
}
.product-show-container{
  display: flex;
  justify-content: center;
}
/* Styles for the products*/
.image-preview img{
  height: 250px;
}