.footer{
    background-image: linear-gradient(to bottom, rgb(48, 48, 48), black);
    display: block;
    padding-bottom: 70px;
}
.link-row-1,
.link-row-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.link-container1,
.link-container2{
    display: flex;
    justify-content: center;

}
.link-main{
    color: white;
    font-family: roboto, arial;
    font-size: 25px;
    font-weight: bold;
    transition: text-decoration, 0.30s;
}
.link-secondary{
    color: gray;
    font-size: 20px;
    font-weight: bold;
}
.link-container1{
    margin-top: 30px;
    margin-bottom: 50px;
}
.link-container2{
    margin-bottom: 100px;
}
.social-links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-link{
    margin-right: 20px;
    margin-left: 20px;
    }
#tiktok{
    margin-left: 30px;
}
.link-main:hover,
.link-secondary:hover{
    text-decoration: underline;
}
@media(max-width: 680px) and (min-width: 200px){
    a{
        text-align: center;
    }
}