h1{
  margin: 0;
}
p{
  margin: 0;
}
body{
  margin: 0;
}
a{
  text-decoration: none;
}
body{
  font-family: Roboto, Arial;
}
body::-webkit-scrollbar{
  background-color: rgb(50, 50, 50)
}
body::-webkit-scrollbar-thumb{
  background: rgb(92, 92, 92);
}