main{
  min-height: 500px;
}
.banner{
  display: flex;
  background-color: black;
  justify-content: center;
}
.banner img{
  height: 150px;
}
.preoducts-shell{
  display: flex;
  background-image: linear-gradient(to bottom, black 20%, rgb(52, 52, 52));
  padding-bottom: 50px;
}
.side-img img{
  height: 400px;
}
.products-category{
  flex: 1;
  min-height: 1000px;
}
.products-category{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
.popular{ 
  min-height: 100px;
  display: flex;
  justify-content: center;
}
.banner-inner img{
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */

}
.banner-inner{
  display: flex;
  justify-content: center;
  margin-top: 70px;
  max-width: 700px;
  
}
.brand-name{
  display: flex;
  justify-content: center;
  margin-top: 70px;

}
.products-category{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gender img{
  height: 250px;
  margin-bottom: 20px;
}
.gender{
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  width: 300px;
}
.gender-header{
  font-size: 30px;
  display: flex;
  justify-content: center;
}
.gender-select{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
#female{
  margin-right: 60px;
}
.brand-image img{
  height: 100px;
}
.brand-dis{
  display: flex;
  justify-content: space-between;
}
.brand-info div{
  width: 400px;
}
.brand-info > div > p{
  font-size: 20px;
  text-align: center;
}
.brand-info{
  margin-left: 70px;
}
.brand-info div{
  padding-bottom: 20px;
}
.product-brand{
  font-size: 20px;
  font-weight: 100;
  color: #6a6a6a;
}
.product-name{
  font-size: 30px;
  font-weight: bold;
  color: #252525;
}
.product-subdis{
  margin-top: 5px;
  color: #313131;
}
.product-price{
  font-size: 20px;
  margin-top: 25px;
  font-weight: bold;
  color: #252525;
}
.product-brand, .product-name, .product-subdis, .product-price{
  display: flex;
  justify-content: center;
  text-align: center;
}
.product{
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
}
.image-preview{
  display: flex;
  justify-content: center;
}
.image-preview img{
  height: 250px;
}
.shell-perfume-preview{
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 100px;
}
.perfume-preview:hover .product-brand, .perfume-preview:hover .product-name{
  text-decoration: underline;
}
.popular-products-shell{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}
.popular{
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1000px;
}
.section-name h1{
  display: flex;
  justify-content: center;
  
}
.section-name{
  margin-bottom: 20px;
}
.filters{
  width: 400px;
  display: flexbox;
  justify-content: start;
  background-color: #252525;
}
.filter-title{
  color: white;
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.filter-title-container{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
#perfume-gender{
  margin-left: 30px;
  margin-top: 20px;
  font-size: 25px;
}
.lable-radio{
  color: white;
  display: inline-flex;
  transition: 0.15s;
}
.radio{

  accent-color: white;
}
input[type = "radio"]{
  transform: scale(1.5);
  margin-right: 10px;
}
.lable-radio:hover, .radio:hover{
  cursor: pointer;
  color: rgb(191, 191, 191);

}
.lable-radio input[type = "radio"]:checked + span{
  text-decoration: underline;
}
/* Styles for the price input container */
.price-input-container {
  width: 100%;
}

.price-input .price-field {
  display: flex;
  margin-bottom: 22px;
}
.price-field{
  display: flex;
  justify-content: space-between;
}

.price-field span {
  margin-right: 10px;
  margin-top: 6px;
  font-size: 20px;
}

.price-field input {
  width: 50px;
  height: 35px;
  font-size: 15px;
  font-family: "DM Sans", sans-serif;
  border-radius: 9px;
  text-align: center;
  border: 0px;
  background: #e4e4e4;
}

.price-input {
  width: 100%;
  font-size: 19px;
  color: #ffffff;
}

/* Remove Arrows/Spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.slider-container {
  width: 100%;
}

.slider-container {
  height: 6px;
  position: relative;
  background: #e4e4e4;
  border-radius: 5px;
}

.slider-container .price-slider {
  height: 100%;
  left: 5%;
  right: 70%;
  position: absolute;
  border-radius: 5px;
  background: #df04c6;
}

.range-input {
  position: relative;
}

.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  background: none;
  top: -5px;
  pointer-events: none;
  cursor: pointer;
  -webkit-appearance: none;
}

/* Styles for the range thumb in WebKit browsers */
input[type="range"]::-webkit-slider-thumb {
  height: 18px;
  width: 18px;
  border-radius: 70%;
  background: #aaaaaa;
  pointer-events: auto;
  -webkit-appearance: none;
}

@media screen and (max-width: 768px) {
  .main {
      width: 80%;
      margin-right: 5px;
  }

  .custom-wrapper {
      width: 100%;
      left: 0;
      padding: 0 10px;
  }

  .projtitle {
      width: 100%;
      position: relative;
      right: 26px;
  }

  .price-input {
      flex-direction: column;
      align-items: center;
  }

  .price-field {
      margin-bottom: 10px;
  }
}
#perfume-price-filter{
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  padding-bottom: 30px;
}
#perfume-gender{
  margin-bottom: 50px;
}
.price-header{
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.filters{
  position: sticky;
  left: 0px;
  top: 0px;
  height: 100dvh;
}
.all{
  display: flex;
  width: 100%;
}
.products{
  display: flex;
  flex-direction: column;
  flex: 1;
}
.products{
  display: flexbox;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.product-show{
  /* background-color: #6a6a6a; */
  width: 250px;
  height: 400px;
  margin: 20px;
}
.product-container-all-perfumes{
  display: flex;
  align-items: start;
}
.product-show-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
/* Styles for the products*/
.image-preview img{
  height: 250px;

}
.image-preview{
  display: flex;
  justify-content: center;
}
/* Стилизиране на пагинацията */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
  position: relative;
  bottom: 0px;

}

.pagination a {
  text-decoration: none;
  padding: 10px 15px;
  background-color: black;
  border-radius: 5px;
  margin: 0 5px;
  color: white;
  transition: background-color 0.3s ease;
}

.pagination .active {
  background-color: #333;
  color: white;
}

.pagination .disabled {
  background-color: rgba(0, 0, 0, 0.508);
  color: #bbb;
  pointer-events: none;
}
.product-show{
  width: 90%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.page-number{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  margin-left: 20px;
  margin-right: 20px;
  /* border: 1px solid black; */
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.566);
}
.season-header{
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
.mini-icon{
  height: 40px;
  margin-right: 10px;
}
#perfume-season-filter{
  font-size: 25px;
  margin-left: 20px;
}
.lable-radio{
  display: flex;
  align-items: center;
}
.perfume-preview:hover .product-brand, .perfume-preview:hover .product-name{
  text-decoration: underline;
}
.all-header{
  margin-top: 80px;
  margin-bottom: 60px;
}
h1{
  font-size: 40px;
}
.brand-dis{
  margin-top: 70px;
  margin-bottom: 70px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.362);
  width: 100%;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
}
.section-name {
  margin-bottom: 40px;
}
.brand-name{
  margin-top: 100px;
}
.gender-select{
  margin-bottom: 80px;
}